@model NoticeBoard.Models.Post


@{
    ViewData["Title"] = "Details";
}
<dl class="row">
<h2>
    <dt class="col-sm-2">
        Title: @Html.DisplayFor(model => model.Title)
    </dt>
</h2>
<div>
        <a>
            <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model?.PostId">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </a>
    <hr /> 
    @*가로선*@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
    </dl>
</div>
<hr />
<div>
    <form asp-action="Reply" asp-route-id="@Model?.PostId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="PostId" />
            <div>Write a comment</div>
            <input name="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Reply" class="btn btn-primary" />
        </div>
    </form>
 </dl>
    @foreach (var comment in Model.Comments)
    {
        <div class="col-sm-10">
            @comment.Content  |  @comment.LastUpdated
        </div>

        <form asp-action="DeleteC" asp-route-id="@comment.CommentId">
            <input type="submit" value="Delete" />
            @*asp-for="@comment.CommentId"*@
        </form>
    }
</div>