@model NoticeBoard.Models.Post


@{
    ViewData["Title"] = "Details";
}
<script>
</script>
<style>
    .figure{
        height: auto;
        width: auto;
    }

        .image-style-side img{
            height: 300px;
            width: auto;
    }
</style>
<div class="col-md-8">
    <dl class="row">

        <h2>
        <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
        </dt>
        </h2>
        <div>
            @*가로선*@
            <dl class="row">
                <hr />
                <div>
                    <div class="info1" style="float:left; margin-right:80px;">
                        <dd>
                            Author:  @Html.DisplayFor(model => model.Nickname)
                        </dd>
                    </div>
                    <div class="info3" style="float:right;  margin-right:20px">
                        <dd>
                            Views:  @Html.DisplayFor(model => model.Views)
                        </dd>
                    </div>
                    <div class="info2" style="float:right;  margin-right:20px">
                        <dd>
                            @Html.DisplayFor(model => model.LastUpdated)
                        </dd>
                    </div>
                </div>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
@*                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Content)
                </dd>*@
                <dd class="col-sm-10" style="min-height:150px;" >
                    @Html.Raw(Model.Content)
                    @*@Html.Raw(System.Net.WebUtility.UrlDecode(Model.Content))*@
                </dd>
                <dt class="col-sm-2">
                    Attachment
                </dt>
                <dd class="col-sm-10">
                    @if (Model.AttachFiles != null)
                    {
                        @foreach (var attachFile in Model.AttachFiles)
                        {

                            <a href="~/files/@attachFile.FileName" alt="Empty">@attachFile.FileName</a>

                        }
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>

</div>
<hr />
<div>
    <form asp-action="Reply" asp-route-id="@Model?.PostId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="PostId" />
            <div>Write a comment</div>
            <input name="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    <div class="form-group">
        <input type="submit" value="Reply" class="btn btn-primary" />
    </div>
    </form>
    </dl>
    @foreach (var comment in Model.Comments)
    {
        <div class="col-sm-10">
            @comment.Content  |  @comment.LastUpdated
        </div>
        <form asp-action="DeleteC" asp-route-id="@comment.CommentId">
            <input type="submit" value="Delete" />
            @*asp-for="@comment.CommentId"*@
        </form>
    }
</div>