@model NoticeBoard.Models.Post


@{
    ViewData["Title"] = "Details";
}
<script>
</script>
<style>

    body {
        /*background: #8FBC8F;*/
        /*background: #b3e6cc;*/
        background: #EEE;
    }
/*
    .image.image-style-side img {
        height: 400px;
        width: auto;
    }*/
    .image img {
        height: 350px;
        width: auto;
    }

    #delete {
        color: #1F75FE;
        text-decoration: underline;
    }

    .category {
        height: 30px;
        width: auto;
        border-radius: 15px;
        text-align: center;
        background: #b3e6cc;
        border-radius: 15px;
    }

    .col-md-6 {
        position: relative;
        float: left;
        left: 25%;
    }

    .image1 img {
        height: 30px;
        width: auto;
    }

    .image2 img {
        height: 25px;
        width: auto;
        float: left;
    }

</style>
<div class="col-md-6">
    <dlv class="row">

        <dd class="category">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <h2>
        <dt class="col-sm-20">
                @Html.DisplayFor(model => model.Title)
        </dt>
        </h2>
        <div>
            <dl class="row" style="margin-top:20px;">
                <div>
                    <div class="info1" style="float:left; margin-right:80px;">
                        <dd>
                            Author:  @Html.DisplayFor(model => model.Nickname)
                        </dd>
                    </div>
                    <div class="info3" style="float:right;  margin-right:20px">
                        <dd>
                            Views:  @Html.DisplayFor(model => model.Views)
                        </dd>
                    </div>
                    <div class="info2" style="float:right;  margin-right:20px">
                        <dd>
                            @Html.DisplayFor(model => model.LastUpdated)
                        </dd>
                    </div>
                </div>
                <hr />
                <dd class="col-sm-10" style="min-height:150px;">
                    @Html.Raw(Model.Content)
                    @*@Html.Raw(System.Net.WebUtility.UrlDecode(Model.Content))*@
                </dd>

                <dd class="col-sm-10">
                    <figure class="image2">
                        <img src="~/files/attachment-512.webp" />
                        @if (Model.AttachFiles != null)
                        {
                            @foreach (var attachFile in Model.AttachFiles)
                            {

                                <a href="~/files/@attachFile.FileName" alt="Empty">@attachFile.FileName</a>

                            }
                        }
                    </figure>
                </dd>

        </div>
        <hr style="margin-top:0px"/>
        <div style="margin-bottom:20px">
            <a asp-action="Edit" asp-route-id="@Model?.PostId" style="color:#8FBC8F;">Edit</a> |
            <a id="delete" onclick="deletePost(@Model?.PostId)" style="color:#8FBC8F;">Delete</a>
            <div class="BTL" style="float:right; margin-right:10px">
                <a asp-action="Index" style="color:#8FBC8F;">Back to List</a>
            </div>
        </div>
        <div>
            <form asp-action="Reply" asp-route-id="@Model?.PostId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="PostId" />
                    <div>Write a comment</div>
                    <input name="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reply" style="color:#8FBC8F; margin-top:10px; margin-bottom:20px" />
                </div>
            </form>
    </dlv>
    @foreach (var comment in Model.Comments)
    {
        <div class="col-sm-12">
            <figure class="image1"><img src="~/files/ea238c3dc6de34829b68e693ace70be7.png" />  @comment.LastUpdated</figure>
            <form asp-action="DeleteC" asp-route-id="@comment.CommentId">
                <input type="submit" value="Delete" style="float:right" />
            </form>
            @comment.Content  @*|  @comment.LastUpdated*@
            <hr />
        </div>

    }
</div>
<script>
    function deletePost(id) {
        var isExecuted = confirm("Are you sure you want to delete the post?");
        if (isExecuted) {
            $.ajax({
                url: "/posts/DeleteConfirmed/" + id,
                type: "DELETE",
                success: function (result) {
                    window.location.href = "/posts";
                    alert("Delete Successful");
                },
                error: function (xhr, status, error) {
                    alert("Delete failed");
                    console.log(error);
                }
            });
        }
    }

</script>