@model NoticeBoard.Models.PostsViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .image1 img {
        height: 100px;
        width: auto;
    }

    body {
        background: #EEE;
    }
</style>
<div class="mainTitle" style="text-align: center; margin-bottom:0;">
    <h1>Minjae Board</h1> <figure class="image1"><img src="~/files/1e6badf9791b051452e790010cc333ab.png" /></figure>
    <hr style="margin-top:0px;" />
</div>  

<form asp-controller="Posts" asp-action="Index" method="get" >
    <p>
        <div>
            Category:
            <select asp-for="PostCategory" asp-items="Model.Categories">
                <option value="">All</option>
            </select>

            Sort:
            <select asp-for="SortOrder">
                <option value="">Latest order</option>
                <option value="PastOrder">Past order</option>
                <option value="Views">Num of views</option>
            </select>


            Title: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />


            <div class="a" style="float:right; display:inline; margin-right:20px">
                <input asp-action="Create" type="submit" value="Create New!" />
            </div>
        </div>
    </p>
</form>

<table class="table table-success-light table-striped table-hover" id="dataTable" style="margin-top: 30px">
    <thead>
    <th scope="col">

    </th>
    <th scope ="col">
            @Html.DisplayNameFor(model => model.Posts![0].Title)
            @*!은 null이 아닌 Movies을 선언 하는 데 사용되는 null 용서 연산자입니다.*@
    </th>
    <th scope="col">
        Author
    </th>
    <th scope="col">
            @Html.DisplayNameFor(model => model.Posts![0].LastUpdated)
    </th>
    <th scope="col">
            @Html.DisplayNameFor(model => model.Posts![0].Category)
    </th>
    <th scope="col">
            @Html.DisplayNameFor(model => model.Posts![0].Views)
    </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts!)
        {

            <tr >
                <td class="table-success">
                    <input type="checkbox" class="checkBox" value="@item.PostId" Id="CheckBoxId" />
                </td>
                <td class="table-success" onclick="goToDetail(@item.PostId)">
                   @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="table-success" onclick="goToDetail(@item.PostId)">
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td class="table-success" onclick="goToDetail(@item.PostId)">
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td class="table-success" onclick="goToDetail(@item.PostId)">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="table-success" onclick="goToDetail(@item.PostId)">
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="submit" id="checkBoxAll" value="Delete Selected Posts" />

<div class="pagination justify-content-center" style="margin-top:10px; margin-right:50px">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a style="color:#8FBC8F;" class="page-link" href="?page=@(Model.CurrentPage - 1)&amp;sortOrder=@Model.SortOrder&amp;postCategory=@Model.PostCategory&amp;searchString=@Model.SearchString">Previous</a></li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="@(i == Model.CurrentPage ? "active" : "")" >
                    <a style="color:#8FBC8F;" class="page-link" href="?page=@i&amp;sortOrder=@Model.SortOrder&amp;postCategory=@Model.PostCategory&amp;searchString=@Model.SearchString">@i</a>
                </li>
            }
            <li class="page-item"><a style="color:#8FBC8F;" class="page-link" href="?page=@(Model.CurrentPage + 1)&amp;sortOrder=@Model.SortOrder&amp;postCategory=@Model.PostCategory&amp;searchString=@Model.SearchString">Next</a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script>
    $(document).ready(function () {
        $('#checkBoxAll').click(function () {
            var ids = [];
            $('.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    ids.push($(this).val());
                }
            });
            if (ids.length > 0) {
                console.log(ids)
                var id = ids.join(",")
                console.log(id)
                if (confirm('Are you sure you want to delete the selected items?')) {
                    $.ajax({
                        url: '/Posts/DeleteIds?id=' + id,
                        type: 'Delete',
                        success: function (result) {
                            alert("삭제되었습니다.")
                            location.reload();
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                            alert("서버에서 오류가 발생했습니다.");
                        }
                    });
                }
            } else {
                alert('삭제할 항목을 선택해주세요.');
            }
        });
    });
     function goToDetail(id){
        window.location.href = '/Posts/Details/' + id;
     }
</script>
